/* article list on the Main Page */
.article-list{
	font-family:'Avenir';
	font-weight:bold;
	font-size:17px;
}
	#mp-container .mp-column-item .article-list ul li{
		padding:3px 0;
		line-height: 20px;
	}

/* article pages */
#article-wrapper{
	.title{
		display: none;
		font-family: @bsfontBlack;
		line-height: @heading-line-height;
		font-size: 200%;
	}
	.subtitle{
		display: none;
		margin-bottom:100px;
	}
	.image{
		margin-top:-2em;
		margin-bottom:3em;

		.thumb{
			margin-bottom:0px;
		}
	}
	.caption, .thumbcaption{
		font-family: @bsfont;
		font-size: @content-small-font-size;
		line-height: @content-small-line-height;
		letter-spacing: @content-small-letter-spacing;
		margin-bottom:@gridsize;
	}
	.summary{
		font-size: 125%;
		line-height: 1.4;
		margin-bottom: 1em;
		hyphens: auto;
	}
	.article{
		iframe{
			width: 100%;
			height: 450px;
			margin-top:@gridsize;
			margin-bottom: -20px;
		}
	}
}

/* contribute */
#contribute-wrapper{
	width: 130vw;
	background-color: @bscolorThird;
	padding:@gridsize @gridsize 30px 50px;
	margin-left:-50px;
	margin-bottom:-10px;

	h1{
		border:0;
		margin:0;
	}
	.contribute-container{
		max-width: 750px;
	}
}