/* editorial list on the Main Page */
.editorial-list{
	font-family:'Avenir';
	font-weight:bold;
	font-size:16px;

}
	#mp-container .mp-column-item .editorial-list ul li{
		padding:3px 0;
		line-height: 20px;
	}

/* editorial pages */
table.wikitable.editorial{
	margin-bottom:-30px;

	tr > th, tr > td{
		border:0px;
	}
	tr > th{
		background-color: @bscolorSecond;
		text-align: left;
	}
	tr > th > a{
		color:white;
		font-family: @bsfont;
		font-size:17px;
	}
}
table.wikitable.editorial:first-of-type{
	margin-top:10px;
}