#events.mp-column-item {
	width: ~"calc(100vw - 300px)";
}
	.events-wrapper{
		width: 100%;

		.date, .title, .location{
			display: inline-block;
			padding:10px 0;
		}
		.date{
			width: 170px
		}
		.title{
			position: relative;
			width: ~"calc(100% - 180px)";
			border-bottom:1px solid;
			/*font-weight: bold;*/
		}
		.location{

		}
	}
	.events-wrapper:first-of-type .title{
		border-top:1px solid;
	}

