table.wikitable.editorial{
	margin-bottom:-30px;

	tr > th, tr > td{
		border:0px;
	}
	tr > th{
		background-color: @bscolorSecond;
		text-align: left;
	}
	tr > th > a{
		color:white;
		font-family: @bsfont;
	}
}
table.wikitable.editorial:first-of-type{
	margin-top:10px;
}