/*Main Page*/


/* resets */
.mw-body #mp-container{
	hr{
		border:0;
		margin:20px 0 40px 0;
	}
	p{
		/*padding-bottom: 10px;*/
	}
}


#mp-container{
	top:0px;
	min-width: 650px;
	margin-top:-70px;

	.mp-column{
		display: inline-block;
		min-width: 150px;
		width: ~"calc(33.3% - 8px)";
		vertical-align: top;
	}
	.mp-column.double{
		min-width: 300px;
		width: ~"calc(66.6% - 8px)";
	}
	h1, h2, h3, h4, h5, h6{
		color:@bscolorSecond;
	}
	h1,h2{
		border-bottom: 10px solid @bscolorSecond;
		padding-bottom: 3px;
		margin-bottom: 10px;
	}
	h3, h4, h5, h6{
		margin:0;
		padding:0;
	}
	.mp-column-item{
		position: relative;
		display: block;
		clear: both;
		margin-bottom: 20px;

		h1, h2, h3, h4, h5, h6{
			color:@bscolorSecond;
		}
		ul{
			list-style: none;
			margin:0 0 10px 0;
			padding:0;

			li{
				margin:0;
				padding:0;
			}
		}

	}
	.mp-column.first{
		margin-right: 10px;
	}
	.item-left{
		display: inline-block;
		width: 50%;
		float: left;
	}
	.item-right{
		position: relative;
		display: inline-block;
		width: 50%;
		float: right;
	}
}

/* suggestion columns*/
.mw-body #article-suggestions, .mw-body #category-suggestions{
	img{
		width: 100%;
		height: auto;
		margin:0;
	}
}
#media-suggestions{
	ul.gallery{
		margin-top: 10px;
	}
}


/* recent changes */
.mw-body #recent-changes{
	table p{
		margin: 0;
	} 
	td.mw-enhanced-rc, span.mw-enhanced-rc-time{
		font-size: 0.8em;
		padding-top: 9px;
	}
}

/* recent uploads */
#recent-uploads, #media-suggestions{
	ul.gallery{
		/*text-align:center;*/
	}
	/* img gallery */
	li.gallerybox{
		div.thumb{
			width: 100%;
			background-color: white;
			margin:0;
			/*border:1px solid @bscolorSecond;*/
		}
		div.gallerytext{
			font-family: @bsfont;
			font-size: 12px;
			margin:0;
			padding:0;

			p{
				margin:0;
				padding:3px 0 10px 0;
			}
		}
	}
}

/* new pages */
#mp-container .mp-column-item#new-pages li{
	padding: 24px 0 6px 0;

	.mw-newpages-pagename{
		max-width: ~"calc(100% - 10px)";
		position: absolute;
		float:left;
		left:0px;
		margin-top: -22px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		-moz-binding: url(<q>assets/xml/ellipsis.xml#ellipsis</q>);
	}
}
	#new-pages .comment{
		display: none;
	}

/* slideshow gallery for main page */
/* NOT IN USE */
#mp-gallery ul.mw-gallery-slideshow {
	/*width: 100%;*/
	/*height: 500px;*/
	/*padding:0;*/

	li.gallerycarousel{
		/*margin:0;*/
		/*padding:0;*/
		/*height: 100%;*/
	}
	img{
		/*width: auto;*/
		/*height: 500px;*/
		/*z-index: 2;*/
	}
	.mw-gallery-slideshow-buttons{
		/*position: absolute;*/
		/*width: 100%;*/
		/*margin-top:200px;*/
		/*padding: 0;*/
		/*color:@bscolorMain;*/
		/*opacity: 1;*/
		/*text-align: center;*/
		/*z-index: 3;*/
	}
	/* display none of the ui buttons ... */
	.oo-ui-iconElement .oo-ui-iconElement-icon{
		/*display: none;*/
		/*height: 50px;*/
		/*width: 50px;*/
	}
	/* ... but display the previous and next button only */
	.oo-ui-iconElement-icon.oo-ui-icon-previous, .oo-ui-iconElement-icon.oo-ui-icon-next{
		/*display: inline-block;*/
	}
	.oo-ui-buttonElement{
		/* there needs to be a better way to position the slideshow navigation buttons */
		/*margin:0 10%; */
	}
}

/*@media all and (max-width: 768px) {

}
*/