/*Main Page*/
body.page-Main_Page{

	h1#firstHeading{
		display: none;
	}
	a#bs-title-link:hover{
		text-decoration: none;
	}
	#bs-title{
		/*font-size: @menu-navigation-font-size;*/
		font-size: 5em;
		width: 900px;
		left:46px;
		top:30px;
		line-height: 1.0;
		color:@bscolorBlack;
	}
		#bs-title:first-letter{
			letter-spacing: -2px;
		}
	#bs-title-tagline{
		position: absolute;
		display: none;
		float: left;
		width: 600px;
		top:110px;
		left: 50px;
		margin-top:0;
		font-family: @bsfontBlack;
		/*font-size: 5em;*/
		font-size: @content-heading-font-size;
		color:@bscolorBlack;
		font-weight: bold;
		line-height: 1.0;
	}
	.mw-body{
		margin-top:8em;
	}
}

/* resets */
.mw-body #mp-container{
	hr{
		border:0;
		margin:0;
	}
}

#mp-container{
	width: 100%;
	margin-bottom:-1em;

	.mp-column{
		width: 100%;
	}
	.mp-column-item{
		width: ~"calc(100% - 0px)";
		clear: both;
		margin-bottom: 0px;

		h1, h2, h3, h4, h5, h6{
			color:@bscolorMain;
		}
		ul{
			list-style: none;
			margin:0 0 @gridsize 0;
			padding:0;

			li{
				margin:0;
				padding:0;
			}
		}

	}
	.mp-column.first{
		margin-right: @content-padding;
	}
	h1{
		width: 130vw;
		border-top: 1px dotted @bscolorMain;
		padding-top: @gridsize;
		margin-bottom: @gridsize;
	}
	h3, h4, h5, h6{
		margin:0;
		padding:0;
	}
	.item-left{
		display: inline-block;
		width: 25%;
		float: left;
	}
	.item-right{
		position: relative;
		display: inline-block;
		width: 50%;
		float: right;
	}
}

/* intro */
#intro{
	position: absolute;
	width: 350px;
	top:2px;
	left:460px;
	color:@bscolorSecond;
	font-size: 1em;
	line-height: 1.2;
}

/* editorials */
.editorials-oneline-wrapper-Main-Page{
	position: relative;
	overflow: hidden;
	display: block;
	width: 100vw;
	float: left;
	margin: 0 0 30px 0;
}
@media only screen and (max-width:1039px){
    #intro{
    	left:560px;
    }
}

/* recent changes */
#recent-uploads.mp-column-item {
	margin-bottom:2em;
}
/* date */
#mp-container .mw-changeslist h4{
	font-weight: normal;
	float: left;
}
	#mp-container .mw-changeslist h4 + div{
		margin:20px 0;
	}

.mw-changeslist{
	font-family: @bsfont;
	font-size: 15px;

	/* row */
	table {
		width: ~"calc(100vw - 300px)";
		min-width: 750px;
		margin:10px 0 0 0px;

		.mw-title{
			font-weight: bold;
		}
		/* time */
		td.mw-enhanced-rc, td:first-of-type{
			display: none;
		}
		/* main info */
		td:last-of-type{
			padding:@gridsize 0 @gridsize 0;
			border-top:1px solid;
			line-height: 1.2;
		}

		.mw-changeslist-separator, .mw-rollback-link, .mw-usertoollinks{
			display: none;
		}
		a{
			color:@bscolorMain;
			text-decoration: none;
		}
		strong{
			font-weight: normal;
		}
		p{
			display: inline-block;
			padding-right: 3px;
			line-height: 0;

			.comment{
				line-height: 1.2;
			}
		}
		.changedby a:before, a.mw-userlink:before{
			content: 'By ';
		}

		/* expand button*/
		.mw-collapsible-toggle a{
			color: @bscolorMain;
		}

		/* nested items*/
		td.mw-enhanced-rc-nested{
			padding: 0;
			border:0;
		}
		.mw-enhanced-rc-time{
			font-family: @bsfont;
			font-size: @content-small-font-size;
		}
	}
}
