/*Main Page*/


/* resets */
.mw-body #mp-container{
	hr{
		border:0;
		margin:0;
	}
}


#mp-container{
	width: ~"calc(100% + 0px)";
	top:0px;

	.mp-column{
		width: 100%;
	}
	.mp-column-item{
		width: ~"calc(100% - 50px)";
		clear: both;
		margin-bottom: 2em;

		h1, h2, h3, h4, h5, h6{
			color:@bscolorMain;
		}
		ul{
			list-style: none;
			margin:0 0 @gridsize 0;
			padding:0;

			li{
				margin:0;
				padding:0;
			}
		}

	}
	.mp-column.first{
		margin-right: @content-padding;
	}
	h1,h2{
		width: ~"calc(100% + 50px + 1em)";
		border-top: @gridsize solid @bscolorThird;
		padding-top: @gridsize;
		margin-bottom: @gridsize;
	}
	h3, h4, h5, h6{
		margin:0;
		padding:0;
	}
	.item-left{
		display: inline-block;
		width: 25%;
		float: left;
	}
	.item-right{
		position: relative;
		display: inline-block;
		width: 50%;
		float: right;
	}
}

/* contribute */
.mp-column #contribute form.pfFormInput{
	width: ~"calc(100% + 30px)";
	margin:0;
	padding:0;
	display: block;

	input.formInput{
		width: 100%;
		border:0;
		padding:8px 0px 5px 10px;
		margin:0;
		font-size: @menu-navigation-second-font-size;
		font-family: @bsfontBlack;
		color:@bscolorSecond;
	}
	input#input_button_1{
		background-color: transparent;
		border:0;
	}
		
}

/* editorials */
.editorials-oneline-wrapper-Main-Page{
	position: relative;
	overflow: hidden;
	display: block;
	width: ~"calc(100% + 240px)";
	height: 500px;

	.editorials-oneline{
		position: absolute;
		
	}
}

/* recent changes */
.mw-body #recent-changes{
	table p{
		margin: 0;
	} 
	td.mw-enhanced-rc, span.mw-enhanced-rc-time{
		font-size: 0.8em;
		padding-top: 9px;
	}
}
