/* Footer */
div#footer {
	font-family:@bsfont;
	/*height: 0;*/
	/*width: 0;*/

	ul {
		list-style-type: none;
		list-style-image: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			color: #333;
		}
	}

	#footer-icons {
		display: none;
		position: relative;
		top:-30px;
		float: right;

		li {
			float: left;
			margin: 0 3px;
			line-height: 2em;
			text-align: right;

			img{
				border-radius: 4px;
			}
		}
	}

	/* TOP RIGHT */
	#footer-info {
		/*display: none;*/
		position: absolute;
		top:64px;
		right:0px;
		width: 181px;
		z-index: 100;
		li {
			font-size: @menu-main-body-font-size;
			line-height: 1.4em;
			color:@bscolorSecond;
		}
	}
	/* BOTTOM */
	/*#footer-info {
		position: relative;
		float: left;
		left:8px;
		padding:5px;
		margin-top:-262px;
		width: ~"calc(100% - 28px)";
		border:1px solid #aaa;
		background-color: white;
		z-index: 100;
		li {
			font-size: @menu-main-body-font-size;
			line-height: 1.4em;
			color:@bscolorSecond;
		}
	}*/

	/* links */
	#footer-places {
		display: none;
		li, li a {
			font-family:@bsfont;
			font-size: 12px;
			color:@bscolorSecond;
			float: left;
			margin-right: 0.5em;
			width: 100%;
		}
	}
}

body.ltr {
	div#footer {
		#footer-places {
			/* @noflip */
			float: left;
		}
	}
}


/*TO ADD!!*/
/*
#wdka-logos{
	position: absolute;
	top:76px;
	width: 187px;
	right: 3px;
	text-align: right;

	img{
		width: 82px;
		height: auto;
		border:0;
		border-radius: 10px;
		padding-right: 5px;
	}

}*/