@import "mediawiki.mixins";
@import "personalMenu";
@import "search";
@import "tabs";

/* Hide, but keep accessible for screen-readers */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

/* Head */
#mw-page-base {
	height: 5em;
}

#mw-head-base {
	margin-top:-5em;
	height: 5.75em;
}

div#mw-head {
	/*position: absolute;*/
	display: block;
	top: 0;
	right: 0;
	width: 100%;

	h3 {
		margin: 0;
		padding: 0;
	}
}

/* Navigation Containers */
#mw-navigation{

}

/* Page type + Discussion */
#left-navigation {
	position: absolute;
	float: right;
	top:15px;
	right: 250px;
	font-family: @bsfontBlack;
	font-size: 2em;

	/* reset the comma after the nav items for the left-nav*/
	ul li span a:after{
		content: " ";
	}
}
/* read, edit, view history, watch, + more*/
#right-navigation {
	position: relative;
	float: left;
	font-family: @bsfontBlack;
	font-size: @menu-navigation-font-size;
}

/* Panel (= Sidebar) */
div#mw-panel {
	font-size: @menu-main-font-size;
	position: absolute;
	width: 200px;
	top: 160px;
	padding:1em 0 0 0;
	right: 0;

	div.portal {
		margin: 0 0.6em 0 0.7em;
		padding: 0.25em 0;
		direction: ltr;
		background-position: top left;
		background-repeat: no-repeat;
		.background-image('images/portal-break.png');

		h3 {
			font-size: @menu-main-heading-font-size;
			color: @menu-main-heading-color;
			font-weight: normal;
			margin: 0;
			padding: @menu-main-heading-padding;
			cursor: default;
			border: none;
			display: initial;
		}

		div.body {
			margin: @menu-main-body-margin;
			padding-top: 0;

			ul {
				list-style-type: none;
				list-style-image: none;
				margin: 0;
				padding: @menu-main-body-padding;

				li {
					/*line-height: 1.125em;*/
					/*margin: 0;*/
					/*padding: 0.25em 0;*/
					font-size: @menu-main-body-font-size;
					word-wrap: break-word;

					a {
						color: @menu-main-body-link-color;
						&:visited {
							color: @menu-main-body-link-visited-color;
						}
					}
				}
			}
		}
	}

	/* First sidebar portlet. Not using :first-of-type for IE<=8 support. */
	#p-logo + div.portal {
		background-image: none;
		margin-top: 0;
		h3 {
			display: none;
		}
		div.body {
			margin-left: 0.5em;
		}
	}
}
