@import "mediawiki.mixins";
@import "personalMenu";
@import "search";
@import "tabs";

/* Hide, but keep accessible for screen-readers */
#mw-navigation h2 {
	position: absolute;
	top: -9999px;
}

/* Head */
#mw-page-base {
	height: 10em;
	/*background-position: bottom left;*/
	/*background-repeat: repeat-x;*/
	/* This image is only a fallback (for IE 6-9), so we do not @embed it. */
	/*background-image: url('images/page-fade.png');*/
	/*.vertical-gradient(@body-background-color, @menu-background-color, 50%, 100%);*/
	/*background-color: @body-background-color;*/
}

/* empty block */
#mw-head-base {
	margin-top: -5em;
	margin-left: 10em;
	height: 3.8em;
}

div#mw-head {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;

	h3 {
		margin: 0;
		padding: 0;
	}
}
#p-personal{

}

/* Navigation Containers */
#left-navigation {
	font-family: @bsfontBlack;
	position: absolute;
	font-weight: bold;
	font-size: 4.5em;
	color:@bscolorMain;
	top:10px;
	left:10px;
	margin:0px;
	padding:0px;
}
#left-navigation {
	float: left;
	text-align: left;
	display: block;
}
	/* "Discussion" */
	#ca-talk span a{
		position: absolute;
		top:80px;
		left:0px;
	}
	/* "Read" "Edit" "Watchstar" */
	#p-views{
		margin-top:80px;
	}

	/* comma after each menu item */
	#left-navigation li:after{
		content: ", ";
		margin-top:-30px;
		padding-right: 10px;
		vertical-align: top;
	}
		/* no comma after page title */
		#left-navigation li#ca-nstab-main:after{
			content: " ";
		}
		/* exception for "Discussion" */
		#left-navigation li#ca-talk{
			width: 173px;
		}
		/* comma exception for "Discussion", no comma */
		#left-navigation li#ca-talk::after{
			content: "";
		}
		/* comma exception for "Discussion", it is placed before "Read" */
		#left-navigation li#ca-view::before{
			content: ", ";
			padding-right: 10px;
			vertical-align: top;
		}

/* hide <bs-more-actions> menu tab*/
h3#p-cactions-label{
	display: none;
}

/* display cactions menu: "view history" "delete" "move" "protect" */
#p-cactions .menu li{
	position: relative;
	display: inline-block;
	padding: 0px;
	margin:0px;
}
	#p-cactions .menu ul{
		list-style: none;
	}


/* Logo */
#p-logo {
	display: none;
	position: absolute;
	top: -160px;
	left: 0;
	width: 10em;
	height: 160px;

	a {
		display: block;
		width: 10em;
		height: 160px;
		/*background-repeat: no-repeat;*/
		/*background-position: center center;*/
		text-decoration: none;
	}
}

/* Panel */
div#mw-panel {
	font-size: @menu-main-font-size;
	font-weight: bold;
	line-height: 1.2em;
	position: absolute;
	top: 300px;
	/*padding-top: 1em;*/
	width: 10em;
	right: 0;

	div.portal {
		/*margin: 0 0.6em 0 0.7em;*/
		/*padding: 0.25em 0;*/
		/*direction: ltr;*/
		/*background-position: top left;*/
		/*background-repeat: no-repeat;*/
		/*.background-image('images/portal-break.png');*/

		h3 {
			font-size: @menu-main-heading-font-size;
			color: @menu-main-heading-color;
			font-weight: normal;
			margin: 0;
			padding: @menu-main-heading-padding;
			cursor: default;
			border: none;
		}

		div.body {
			margin: @menu-main-body-margin;
			padding-top: 0;

			ul {
				list-style-type: none;
				list-style-image: none;
				margin: 0;
				/*padding: @menu-main-body-padding;*/

				li {
					/*margin: 0;*/
					/*padding: 0.05em 0;*/
					font-size: @menu-main-body-font-size;
					word-wrap: break-word;

					a {
						color: @menu-main-body-link-color;
						&:visited {
							color: @menu-main-body-link-visited-color;
						}
					}
				}
			}
		}
	}

	/* First sidebar portlet. Not using :first-of-type for IE<=8 support. */
	#p-logo + div.portal {
		background-image: none;
		margin-top: 0;
		h3 {
			display: none;
		}
		div.body {
			margin-left: 0.5em;
		}
	}
}
