@import "mediawiki.mixins";
@import "personalMenu";
@import "search";

div#mw-head {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 173px;
	height: 100%;
	top: 0px;
	right: 0;
	margin:-20px 0 0 0;
	padding:0 10px;
	z-index: 100;
	background-color: @sidebar-backgroundcolor;

	/* Page type + Discussion */
	#left-navigation {
		margin:30px 0 10px 0;

		#p-namespaces{
			font-family: @bsfontBlack;
			font-size: @menu-navigation-second-font-size;
			line-height: 1.1;
		}

		/* reset the comma after the nav items for the left-nav*/
		ul li span::after{
			content: " ";
		}
		ul, ul li{
			clear: both;
			display: block;
			margin:0;
			padding:0;
		}
		li {
			&.new {
				a,
				a:visited{
					color: #ff2400;
				}
			}
			&.selected {
				a,
				a:visited{
					text-decoration: none;
					color: @bscolorSecond;
				}
			}
		}
		#p-namespaces-label{
			display: none;
		}
	}

	/* read, edit, view history, watch, + more*/
	#right-navigation {
		#p-views, #search-link{
			display: inline;

		}
		ul{
			list-style-type: none;
			list-style-image: none;
			margin: 0;
			padding: 0;
			float:right;
			display: inline-block;
		}
		li{
			position: relative;
			top:0px;
			float: left;
			font-family: @bsfontBlack;
			font-size: @menu-navigation-second-font-size;
			line-height: 1.1;
			margin:0;
			padding: 0;
			text-transform: capitalize;
		}
			li span::after{
				content: ", ";
				vertical-align: top;
			}
		li {
			&.new {
				a,
				a:visited{
					color: #a55858;
				}
			}
			#shareButtons{
				/* hiden the word "Share" */
				font-size: 0; 
				vertical-align: top;
				padding-left:5px;
			}
			&.selected {
				a,
				a:visited{
					text-decoration: none;
					color: @bscolorSecond;
				}
			}
		}
		span {
			display: inline-block;

			a  {
				/* For IE6, overridden later to display:block by modern browsers */
				display: inline-block;
			}

			/* Ignored by IE6 which doesn't support child selector */
			> a {
				/* @noflip */
				float: left;
				display: block;
			}
		}
		li#ca-unprotect  {
			span a{
				width: ~"calc(100% - 39px)";
			}
			span::after{
				position: relative;
				top:30px;
			}
		}
		ul#search-link{
			position: relative;
			left:-10px;
			margin-top:-29px;
			z-index: 100;
		}
		#p-views-label{
			display: none;
		}
	}
	#page-info{
		font-family: @bsfont;
		font-size: @content-small-font-size;
		line-height: @content-small-line-height;

		ul, ul li{
			clear: both;
			display: block;
			margin:0;
			padding:0;
		}
		#page-info-info{
			padding:@content-padding 0 0 0;
		}
		#page-info-places{
			display: none;
		}	
		#page-info-info-copyright{
			display: none;
		}	
		/* categories box */
		#catlinks{
			border:none;
			background-color: transparent;
			margin:@content-padding 0 0 0;
			padding:0;
		}
		.catlinks li{
			border-left:none;
			display: inline;
		}
			.catlinks li a{
				padding-right: 5px;
			}
	}

	#left-navigation, #right-navigation{
		a, a:visited, a:active {
			display: inline-block;
			color: @menu-link-color;
			cursor: pointer;
		}
	}
}

/* share icons */
li#share span:after{
	content: '';
}
#right-navigation span > a#shareTwitter, #right-navigation span > a#shareFacebook{
	float: none;
	display: inline-block;
}
.fa.fa-twitter-square, .fa.fa-facebook-square{
	display: inline-block;
	font-family:'FontAwesome';
	font-size: 23px;
	text-rendering: auto;
	margin-right: 5px;
}
i{
	color: @bscolorSecond;
}
