/* BeyondSocial print styles */


@media print {

	@page{
		size: A4;
		margin:8mm 5mm 10mm 5mm;
	}

	@font-face{
		font-family: "Avenir";
		src:url('fonts/AvenirLTStd-MediumOblique.otf');
		font-style: italic, oblique;
	}
	@font-face{
		font-family: "Avenir";
		src:url('fonts/AvenirLTStd-Medium.otf');
	}
	@font-face{
		font-family: "Book";
		src:url('fonts/crimson/CrimsonText-Italic.ttf');
		font-style: italic, oblique;
	}
	@font-face{
		font-family: "Book";
		src:url('fonts/crimson/CrimsonText-Roman.ttf');
	}
	@font-face{
		font-family: "AvenirBlack";
		src:url('fonts/AvenirLTStd-Black.otf');
		font-weight: bold;
	}

	/* CSS RESET */
	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	@bscolorMain: rgba(0,0,0,1);
	@bscolorSecond: black;

	@bsfontBook: "Book";
	@bsfont: "Avenir";
	@bsfontBlack: "AvenirBlack";

	@content-font-size: 14pt;
	@content-line-height: 1.35;
	@content-heading-font-size: 3em;

	html{
		margin:0;
		padding:0;
	}
	body{
		width: calc(100% - 17mm);
		margin:0 0 0 7.5mm;
		padding:0;
		font-family: @bsfontBook;
		font-size: @content-font-size;
		line-height: @content-line-height;

		p{
			margin:0 0 1em 0;
			padding:0;
		}
		h1, h2, h3, h4, h5, h6{
			font-family: @bsfontBlack;
			margin:1em 0 0 0;
			padding:0;
		}
		h1#firstHeading{
			font-size: @content-heading-font-size;
			line-height: 1.0;
			color:@bscolorSecond;
			margin:5px 0 15mm 0;
			padding:0px;
			top:0px;
			/*page-break-before: always;*/
		}
		#left-navigation, #right-navigation{
			padding:0;
			margin:0;
		}
		#mw-head, .more, .oneline-wrapper, #mw-panel, #contribute-wrapper form, .arrow-link, #player{
			display: none;
		}

		/*#cover{
			position: relative;
			background-color:yellow;
			height: 100%;
			width: 100%;
		}*/
		.mw-body-content{
			columns:2 auto;
			-moz-columns:2 auto;
			column-gap:8mm;

			#article-wrapper {
				width: 100%;
				margin-top:-15mm;

				.sidebox{
					width: 100%;
					margin-top:8mm;

					.image img{
						max-width: 100%;
						height: auto;
						margin:0;
						background-color: white;
					}
					.caption{
						font-family:'Avenir';
						font-size: small;
					}
				}
				.subtitle{
					font-size:18pt;
					font-family: 'AvenirBlack';
					margin:0;
					transform: rotate(355deg);
					width:100%;
					border-radius: 100%;
					padding:2em 0;
					text-align: center;
				}
				.summary{
					margin:0mm 0 1em 0;
					font-size:13pt;
					line-height: 1.45;
					font-family: 'AvenirBlack';
					page-break-before: always;

					small{
						display: block;
						margin:0 0 1em 0;
						font-size:small;
						font-family:'Avenir';
					}
				}
				.article img, .article .caption{
					width: 100% !important;
					height: auto;
					padding:0;
				}
				.article .caption{
					font-family:'Avenir';
					font-size: small;
					margin:0 0 1em 0;
				}
				.article img{
					margin:1em 0 0 0;
				}
				.embedvideo:after{
					display: block;
					content:'Please visit www.beyond-social.org to watch this video.';
				}
				.embedvideowrap{
					display: none;
				}
			}

			/*contribute columns*/
			#contribute-wrapper{
				display: none;
				/*width:100%;
				margin:10mm 0 0 0;
				color:rgba(0,100,220,0.8);
				font-size:10pt;
				page-break-before: always;

				p{
					font-family: @bsfontBlack;
					margin:0 0 0 0;
					padding:0;
				}
				.contribute-container{
					p, .small{
						font-family: @bsfontBook;
						display: inline;
						padding:0;
					}
					p{
						margin:0 0 1em 0;
					}
					#column-wrapper{
						margin-top:0;

						.small.column.quarter{
							display: inline-block;
							vertical-align: top;
							margin:1em 0 0 0;

							b, a{
								font-family: 'AvenirBlack';
								font-size: 8pt;
								text-transform: uppercase;
								font-weight: normal;
								padding:0;
							}
						}
					}
				}*/
			}
			/*#contribute-wrapper:before{
				display: block;
				clear: both;
				font-family: 'AvenirBlack';
				font-size:10pt;
				content:'Beyond Social is a publishing experiment based on MediaWiki software. The project is initiated by the Social Practices department of the WdKA and developed in collaboration with the Hybrid Publishing research group.';
				line-height: 1.3;
				margin:-10mm 0 5mm 0;
			}*/
		}

		/* sociality data */
		#socialitydata{
			display: block;		
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			max-height: 15mm;
			margin:0;
			padding:0 1mm 0 2mm;
			columns:10 auto;
			/*border:1px dotted blue;*/
			/*
			top:0px;
			right:0px;
			width:15mm;
			margin:0;
			padding:0 1mm 0 2mm;*/
			font-family: 'Avenir';
			font-size: 6pt;
			font-style: normal;
			
			strong{
				font-family: 'AvenirBlack';
			}
			.metadata{
				margin-bottom:5mm;
			}
			.item{
				position: relative;
				margin-bottom: 5mm;
				break-inside: avoid;

				ul li{
					list-style: disc;
					padding-top:0mm;
					break-inside: avoid;
				}
				li{
					margin-top: 1em;
					break-inside: avoid;
				}
				em{
					font-style: italic;
				}
				/* this is a dirty hack */
				.overview{
					margin-top:-8mm;
				}
				img{
					width: 100%;
					height: auto;
					margin:2mm 0 0 0;
				}
				.articles-wrapper .info, .articles-wrapper small a{
					display: inline-block;
					font-family: 'Avenir';
					font-size: 6pt;
				}
				.articles-wrapper .title, .articles-wrapper .title a{
					font-family: 'AvenirBlack';
					font-size: 6pt;
					line-height: 1.15;
					font-weight: bold;
					padding-top:1mm;
				}
			}
		}
		#socialitydata:after{
			content:"B E Y O N D S O C I A L";
			font-family: 'AvenirBlack';
			position: fixed;
			top:0px;
			right:0px;
			width: 10mm;
			font-size:30pt;
			line-height: 2.2;
		}


		a{
			font-family: @bsfont;
			font-size: 0.8em;
			color:inherit;
		}
	
		div.thumb{
			display: block;
			border:0px;
			width: 100%;
			margin:5mm 0 0 0;
			padding:0;
		}
		div.thumbinner{
			width: 100%;
			border:0px;
			background-color: transparent;
			margin:0;
			padding:0;
		}
		img.thumbimage{
			width: 100%;
			height: auto;
			border:0px;
		}
		.thumbcaption{
			font-family: @bsfont;
			font-size: 0.8em;
			margin:0 0 5mm 0;
			padding:0;
		}
		p{
			margin-bottom:5mm;
		}
		b, strong{
			font-weight: bold;
		}
		hr{
			border:0;
			border-bottom: 1px solid @bscolorSecond;
		}
		#footer{
			display: none;
		}
		pre,
		.mw-code {
			white-space: pre-wrap;
			overflow: hidden;
			margin:3mm 0 0 0;
		}
		#toc{
			display: none;
		}
		table.wikitable{
			margin:0;
			width: 100%; /* still expands the table wider than the parent div*/
			border:none;

			tr > th, tr > td{
				border:2px solid @bscolorMain;
				padding:5px;
			}
		}
		table.wikitable.editorial{
			margin-bottom:-30px;

			tr > th, tr > td{
				border:0px;
			}
			tr > th{
				background-color: @bscolorSecond;
				text-align: left;
			}
			tr > th > a, tr > th > a:visited, tr > th > a:active{
				color:white;
				font-family: @bsfont;
				font-size:17px;
			}
		}
		table.wikitable.editorial:first-of-type{
			margin-top:10px;
		}
		table.wikitable.editorial:last-of-type{
			margin-bottom:5mm;
		}
		#editorial-banner{
			background-color:@bscolorSecond;
			color:white;
			width:calc(100% - 20px);
			padding:10px;
		}		
	}
}
